.container{
 
    margin: 30px;
    
   
}
.header{
    background: aquamarine;
    height: 80px;
}
.footer{
    background: grey;
    height: 100px;
    text-align:center;
    padding: 20px;    
    color: white;
}
.icon{
    margin: 10px;
    cursor: pointer;
}
.icon:hover{
    color: rgba(255,255,255, 0.5);
    transition: .3s all ease-in-out;
}
.header h1{
    text-align: center;
    font-family: 'raleway';
    font-weight: bold;
    padding-top: 10px;
}
.containerCards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.moneyexchange{
    margin-top: 50px;  
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    
}
.table{
    width: 70%;
    flex-wrap: wrap;
    
}

.category h6{
    width: 30%;
    text-align: center;
    font-size: 25px;
}
.category p{
    font-size: 20px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
.category p:hover{
    color: grey;
    transition: all .3s ease;
}
@media (max-width:800px){
    .table{
        width: 100%;
    }
}